body {
    background-color: #164A41;
}

header {
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #164A41;
}

header h1 {
    color: #FFFFFF;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif ;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding-right: 3%;
}

header ul li:last-child {
    padding-right: 0;
}

main {
    background-color: #4d774e;
}

section.top-section {
    background-color: #4d774e;
}

section.top-section div.top-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f1b24a;
    margin: 1%;
    border-radius: 5px;
}

section.top-section div.top-section-wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #164A41;
}

div.top-section-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2%;
}

div.top-section-content img {
    height: 25rem;
    width: 40rem;
    margin: 0 2%;
    border-radius: 5px;
    border: 5px solid #164A41;
}

div.top-section-content p {
    width: 30rem;
    margin: 0, 5rem;
    margin: 0 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #164A41;
}

div.top-section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem, 0;
    background-color: #9dc88d;
    margin: 0 10% 2% 10%;
    border-radius: 5px;
}

section.middle-section div.middle-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.middle-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.middle-section-content img {
    height: 25rem;
    width: 40rem;
    margin: 0,4rem,0,0;
    border-radius: 5px;
}

div.middle-section-content p {
    width: 30rem;
    margin: 0,0,0,4rem;
}

section.bottom-section div.bottom-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.bottom-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.resources {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.left ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

div.right ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

ul li img {
    height: 30%;
    width: 30%;
    border-radius: 5px;
}